

<html>
  <head>
    <title>Welcome to Web App!</title>
  </head>
  <body>
    <h1>Web App</h1>
    <h2>Final Project PC2 & PC3</h2>
    <h5>Oscar Forradellas, Marc Garcia and Cristian Bucinschi</h5>
      <p>Choose an option:</p>
          <ul>
	    <li><a href="/wa/create_user">Create User.</a></li>
            <li><a href="/wa/show_users">Show all users.</a></li>
	    <p></p>
            <li><a href="/wa/create_keg">Create Keg.</a></li>
            <li><a href="/wa/show_kegs">Show all kegs.</a></li>
          </ul>
  </body>
</html>
