<html>
  <head>
    <title>Keg Table</title>
  </head>
  <body>
    <h2>Keg Table: </h2>
    <table border="1">
      <tr>
        <th>Keg id</th>
        <th>Amount</th>
      </tr>
        {% for row in data %}
          <tr>
            <td><a href="/wa/keg/{{row[0]}}">{{row[0]}}</a></td>
            <td> {{row[1]}} </td>
            {% endfor %}
          </tr>
    </table>
    <p>For security reasons, the organization must register the keg id previously.</p>
    <ul><a href="/wa">Back to Home Page.</a></ul>

