<html>
  <head>
    <title>Update a user</title>
  </head>
  <body>
    <h2>Update a user:</h2>
    <form action="update_user" method="post">
      <p>Introdueix les dades del usuari a modificar: </p>
      <p>Username: <input type="text" name="username"></p>
      <p>NFC Id: <input type="text" name="userid"></p>
      <p>Real User Name: <input type="text" name="realname"></p>
      <p>Email: <input type="text" name="email"></p>
      <input type="submit" value="Submit">
    </form>
    <ul><a href="/">Back to Home Page.</a></ul>
  </body>
</html>


